// Light Mode
$background-color: #FFFFFF;         // White
$primary-color: #007BFF;            // Blue
$secondary-color: #E5E5E5;         // Light Gray
$text-color: #333333;               // Dark Gray
$highlight-color: #FFC107;          // Amber

// Dark Mode
$dark-background-color: #1E1E1E;   // Almost Black
$dark-primary-color: #2196F3;       // Royal Blue
$dark-secondary-color: #303030;     // Dark Gray
$dark-text-color: #FFFFFF;         // White
$dark-highlight-color: #FFD600;     // Yellow

// Typography Variables
$font-family-main: "Raleway", sans-serif;
$font-family-heading: "Merriweather", serif;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-p: 16px;

$font-weight-normal: normal;

$line-height-text: 1.5;
