// Light Mode
$light-bg-primary-color: #FFFFFF; //white
$light-bg-secondary-color: #D3D3D3; //lightgrey
$light-text-primary-color: #000000; //black
$light-text-secondary-color: #CCCCCC; //darkgrey
$light-brand-primary-color: #094ba3; //bright-blue
$light-highlight-amber-color: #FFC107; //vibrant amber
$light-alert-primary-color: #FF0000; //bright-red
$light-brand-secondary-color: #ff66c4; //softPink


// Dark Mode
$dark-bg-primary-color: #000000; //black
$dark-bg-secondary-color: #363636; //darkgrey
$dark-text-primary-color: #FFFFFF; //white
$dark-text-secondary-color: #D3D3D3; //lightgrey
$dark-brand-primary-color: #094ba3; //bright-blue
$dark-highlight-amber-color: #FFC107; //vibrant amber
$dark-alert-primary-color: #FF0000; //bright-red
$dark-brand-secondary-color: #ff66c4; //softPink


// Typography Variables
$font-family-main: "Raleway",
sans-serif;
$font-family-heading: "Merriweather",
serif;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-p: 16px;

$font-weight-normal: normal;

$line-height-text: 1.5;