@import 'variables';
@import 'mixins';
@import 'typography';

/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Merriweather:wght@400;700&display=swap');

/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $text-color;
    min-height: 100vh;

    &.dark-mode {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: $background-color; // Use the light background color
    padding: 10px;
    border-radius: 2px;
    border: 1px solid $secondary-color; // Use the light secondary color for the border
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: $text-color; // Use the light text color
    transition: color ease-in-out 0.3s;
    
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: $primary-color; 
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: $secondary-color; 
    font-size: $font-size-p;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: $primary-color; 
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: $background-color; 
}
*::-webkit-scrollbar-thumb {
    background: $secondary-color; 
}
*::-webkit-scrollbar-thumb:hover {
    background: $text-color; 
}