@import 'variables';
@import 'mixins';
@import 'typography';

/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Merriweather:wght@400;700&display=swap');

/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Raleway', sans-serif;
    background-color: $light-bg-primary-color;
    color: $light-text-primary-color;
    min-height: 100vh;

    &.dark {
        background-color: $dark-bg-primary-color;
        color: $dark-text-primary-color;
    }
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: $light-bg-primary-color;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid $light-bg-secondary-color;

    &.dark {
        background-color: $dark-bg-primary-color;
        border: 1px solid $dark-bg-secondary-color;
    }
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: $light-text-secondary-color;
    transition: color ease-in-out 0.3s;
    text-decoration-line: none;
    text-shadow: 2cap;

    &.dark {
        color: $dark-text-secondary-color;
    }

}

a:hover {
    color: $light-text-secondary-color;
    text-decoration: none;

    &.dark {
        color: $dark-text-secondary-color;
    }
}

a:hover i {
    color: $light-brand-primary-color;
    transition: color ease-in-out 0.3s;

    &.dark {
        color: $dark-brand-primary-color;
    }
}

input[type="file"] {
    display: none;
}

i {
    // color: $light-brand-secondary-color; 
    font-size: $font-size-p;
    padding: 7px;
    vertical-align: middle;

    &.dark {
        // color: $dark-brand-secondary-color;
    }
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: $light-brand-secondary-color;

    &.dark {
        color: $dark-brand-secondary-color;
    }

}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: $light-bg-primary-color;
}

*::-webkit-scrollbar-thumb {
    background: $light-bg-secondary-color;
}

*::-webkit-scrollbar-thumb:hover {
    background: $light-text-primary-color;
}