@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Merriweather:wght@400;700&display=swap");
@import '~bootstrap/dist/css/bootstrap.min.css';
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, .wrapper .form-field input {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Google Fonts CSS */
/* Bootstrap */
body {
  font-family: "Raleway", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  min-height: 100vh;
}
body.dark {
  background-color: #000000;
  color: #FFFFFF;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #D3D3D3;
}
.Content.dark {
  background-color: #000000;
  border: 1px solid #242526;
}

.FillerImage {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #CCCCCC;
  transition: color ease-in-out 0.3s;
  text-decoration-line: none;
  text-shadow: 2cap;
}
a.dark {
  color: #D3D3D3;
}

a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
a:hover.dark {
  color: #D3D3D3;
}

a:hover i {
  color: #094ba3;
  transition: color ease-in-out 0.3s;
}
a:hover i.dark {
  color: #094ba3;
}

input[type=file] {
  display: none;
}

i {
  font-size: 16px;
  padding: 7px;
  vertical-align: middle;
}
i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #094ba3;
}
i:hover.dark {
  color: #094ba3;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  background: #D3D3D3;
}

*::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Styles for the wrapper element */
.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #D3D3D3;
  box-shadow: 5px 5px 10px 2px #D3D3D3;
}
.wrapper.dark {
  /* Dark Mode styles */
  background-color: #242526;
  border: 2px solid #242526;
  box-shadow: 5px 5px 10px 2px #242526;
}

/* Styles for the logo */
.logo {
  width: 80px;
  margin: auto;
}
.logo img {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Styles for the name element */
.wrapper .name {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #000000;
}
.wrapper .name.dark {
  /* Dark Mode styles */
  color: #FFFFFF;
}

/* Styles for form fields */
.wrapper .form-field {
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
  background: #D3D3D3;
  border-radius: 20px;
  /* Styles for input elements within form fields */
  /* Styles for .far elements within form fields */
}
.wrapper .form-field input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  padding: 10px 15px 10px 10px;
}
.wrapper .form-field input.dark {
  /* Dark Mode styles for input elements */
  color: #FFFFFF;
}
.wrapper .form-field .far {
  color: #000000;
}
.wrapper .form-field .far.dark {
  /* Dark Mode styles for .far elements */
  color: #FFFFFF;
}

/* Styles for buttons */
.wrapper .btn {
  color: #FFFFFF;
  box-shadow: none;
  width: 50%;
  height: 40px;
  background-color: #094ba3;
  border-radius: 25px;
  /* Hover styles for buttons */
}
.wrapper .btn:hover {
  color: #D3D3D3;
  transition: transform 0.2s;
}
.wrapper .btn:hover.dark {
  /* Dark Mode styles for buttons on hover */
  color: #242526;
}

/* Styles for links */
a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #000000;
  /* Hover styles for links */
}
a:hover {
  color: #094ba3;
  font-size: 0.81rem;
}
a:hover.dark {
  /* Dark Mode styles for links on hover */
  color: #094ba3;
  font-size: 0.81rem;
}

/* Media query for small screens */
@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
  .wrapper.dark {
    /* Dark Mode styles within the media query */
    background-color: #000000;
  }
}/*# sourceMappingURL=SignInUp.module.css.map */