@import "../../styles/main.scss";

// * For Light Mode *
.NavBar {
  background-color: $light-bg-primary-color;
  color: $light-text-primary-color;
  border: 1px solid $light-bg-primary-color;

  &.dark {
    background-color: $dark-bg-primary-color;
    color: $dark-text-primary-color;
    border: 1px solid $dark-bg-primary-color;
  }
}


.NavLink {
  padding: 10px;
  color: $light-text-secondary-color;


  &.dark {
    padding: 10px;
    color: $dark-text-secondary-color;
  }
}

.NavLink:hover {
  color: $light-text-primary-color;
  background-color: $light-bg-secondary-color;
  border-radius: 9999px;


  &.dark {
    color: $dark-text-primary-color;
    background-color: $dark-bg-secondary-color;
    border-radius: 9999px;
  }
}

.NavLink:active {
  color: $light-text-primary-color;
  font-weight: bold;


  &.dark {
    color: $dark-text-primary-color;
    font-weight: bold;
  }
}

.Active i {
  color: $light-brand-primary-color;


  &.dark {
    color: $dark-brand-primary-color;
  }
}