@import '../../styles/_variables.scss';

.NavBar {
    background-color: $background-color;
    border: 1px solid $background-color;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: $primary-color;
}

.dark-mode {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }